.closeButton {
  text-decoration: none;

  p {
    font-size: 1.5rem;
    text-align: right;
    padding-right: 2rem;

    span {
      margin-left: 1rem;
    }
  }

  @media (min-width: 1024px) {
    p {
      font-size: 2rem;
    }
  }
}
