.footer {
  align-items: center;
  background-color: #090b13;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  width: 100%;
  z-index: 1;

  .logo {
    margin: 0 auto 10px;
    object-fit: contain;
    width: 2rem;
  }

  .terms {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 15px auto;

    &__element {
      font-size: 0.8rem;
      margin: 11px 10px 10px;
      cursor: pointer;
    }
  }
}
