@import url('https://fonts.googleapis.com/css?family=Hind');

.footer {
  align-items: center;
  background-color: #000;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  width: 100%;
  z-index: 1;

  .footer__logo {
    margin: 0 auto 10px;
    object-fit: contain;
    width: 2rem;
  }

  .footer__terms {
    box-pack: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 15px auto;

    .footer__termsElements {
      font-family: 'Hind', sans-serif;
      font-size: 0.8rem;
      margin: 11px 10px 10px;
    }
  }

  p {
    color: #fff;
    font-size: 1rem;
  }
}
