.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  input {
    color: #090b13;
    width: 80%;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 15px;
  }

  @media (min-width: 768px) {
    input {
      padding: 15px;
      font-size: 1.5rem;
    }
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 2rem;
  }

  @media (min-width: 1024px) {
    h1 {
      font-size: 2.5rem;
    }
  }
}

.imagesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
