@import url('https://fonts.googleapis.com/css?family=Hind');

* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Hind', sans-serif;
}

.main {
  background-color: #11131c;
}

.content {
  min-height: 1100px;
  padding-top: 100px;
}
